.info {
    position: relative;
}

.info__icon {
    fill: #DDE7FD;
    margin-left: 16px;
}

.info__icon:hover {
    fill: #1D253C;
    transition: fill .3s;
}

.info__icon:hover+.info__message {
    display: block;
}

.info__message {
    border: 1px solid;
    border-color: #C2D2F4 #B7C6E7;
    background: #fff;
    padding: 8px 16px;
    width: 252px;
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    box-shadow: 0px 16px 16px 0px #4963B029;
}