.button {
  width: 296px;
  max-width: 100%;
  height: 48px;
  border-radius: 32px;
  font-size: 18px;
  line-height: 32px;
  border: none;
  cursor: pointer;
  font-family: var(--font-intro);
  display: block;
}

.button_yellow {
  color: var(--color-black);
  background-color: #ffdd2d;
}

.button_yellow:hover,
.button_yellow:focus {
  color: #fff;
  transition: color 0.5s;
}

.button_blue {
  background-color: var(--color-blue);
  color: #fff;
}

.button_blue:hover,
.button_blue:focus {
  background-color: #1252db;
  transition: background-color 0.3s;
}

.button_disabled,
.button_disabled:hover,
.button_disabled:focus {
  background-color: gray;
  cursor: not-allowed;
}
