.h1 {
  font-family: var(--font-intro);
  color: var(--color-header);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
}

@media (min-width: 768px) {
  .h1 {
    font-size: 40px;
    line-height: 48px;
  }
}
