.footer-made {
  position: relative;
  margin-top: 22px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-family: var(--font-intro);
  color: var(--color-gray);
}
.footer-made::before {
  position: absolute;
  width: 100%;
  top: calc(50% - 1px);
  left: 0;
  content: "";
  height: 2px;
  background-color: var(--color-gray);
  z-index: 0;
}

.footer-made__content {
  position: relative;
  padding: 0 5px;
  background-color: #f8faff;
  z-index: 9999;
}

@media (min-width: 768px) {
  .footer-made {
    order: 1;
    width: 100%;
    margin-top: 0;
  }
}
