.footer-phone {
  margin-top: 22px;
}

.footer-phone__link {
  font-family: var(--font-intro);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
  color: #1d253c;
}
