.track-input {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  padding: 7px 28px 7px 16px;
  border: 1px solid;
  border-color: var(--color-gray);
  border-radius: 4px;
  margin-top: 40px;
  color: var(--color-black);
  background: no-repeat right 12px center url("./assets/mobile.svg"), #fff;
}

.track-input::placeholder {
  color: rgba(29, 37, 60, 0.32);
}

.track-input:focus {
  border-color: var(--color-blue);
  outline-color: var(--color-blue);
}

@media (min-width: 1001px) {
  .track-input {
    background: no-repeat right 12px center url("./assets/desktop.svg"), #fff;
    border-radius: 8px;
    margin-top: 0;
    font-size: 14px;
  }

  .track-input::placeholder {
    color: rgba(29, 37, 60, 0.56);
  }

  .track-input:hover {
    background-color: #f1f5ff;
  }
}
