.link {
  color: var(--color-blue);
  text-decoration: none;
}

.link_underline {
  text-decoration: underline;
}

.link:hover {
  opacity: 70%;
  text-decoration: none;
  transition: opacity 0.3s;
}
