.card {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_regular {
  width: 300px;
  padding: 24px 20px 25px;
  height: 280px;
  background-color: #f8faff;
  border: 1px solid;
  border-radius: 8px;
  border-color: #c2d2f4 #b7c6e7;
}

.card_regular:hover,
.card_regular:focus {
  background-color: #fff;
  border-color: #2B6BF3;
  border-width: 2px;
  transition: border-color, background-color, border-width .3s, .3s, .3s;
}

.card_light {
  width: auto;
  text-align: left;
  align-items: center;
  height: 212px;
  text-align: center;
  max-width: 328px;
}

@media (min-width: 768px) {
  .card_light {
    width: 300px;
    height: 236px;
    align-items: center;
    text-align: center;
  }
}