.header {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  justify-content: space-between;
  background-color: #f8faff;
  border-bottom: 1px solid rgb(43, 107, 243, 0.16);
}

.header__image {
  width: 120px;
  height: auto;
}

.header__menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.header__nav-item {
  display: none;
}

@media (max-width: 1000px) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 1001px) {
  .hide-desktop {
    display: none;
  }

  .header {
    flex-direction: row-reverse;
    padding: 6px 16px;
  }

  .header__logo-location {
    display: flex;
    align-items: center;
    gap: 68px;
  }

  .header__image {
    width: 192px;
  }

  .header__nav {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  .header__nav-item {
    font-family: var(--font-intro-book);
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #666;
    text-decoration: none;
  }

  .header__nav-item:hover {
    opacity: 70%;
    border-bottom: 1px dashed #c1cfef;
  }
}
